

.card{
   background-image: linear-gradient(rgb(252, 182, 182),rgb(62, 62, 238),white);
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   height: 400px;
    width: 350px;
    overflow: hidden;
}

.img{
     width: 320px;
    height: 300px;
    object-fit: cover;
}

img{
    width: 100%;
    height: 100%;
}
